/*Selector Universal*/
* {
    padding: 0;
    margin: 0;

}
/*selector id*/
#contenedor {
    width: 1200px;
    height: 1000px;
    background-color: rgb(175, 192, 207);
    max-width: 0 auto;

}
#encabezado {
    height: 15%;
    background-color: blanchedalmond;
    margin: 1em auto;

}
#menu {
    height: 5%;
    background-color: darkgray;
    margin: 1em auto;

}
#contenido {
    height: 76%;
    width: 60%;
    background-color: cadetblue;
    margin: 0.5em;
    float: left;

}
/*Es la que esta de barra izquierda*/
#fueraSeccion {
    height: 76%;
    width: 36%;
    background-color: chartreuse;
    margin: 0.5em;
    float: right;

}
#pie {
    height: 2%;
    width: 100%;
    background-color: darkgray;
    border-radius: 1em;
    margin: 1.5 em;
    float: left;
}
 /*Selector de class*/

 .texto {
    text-align: justify;
    font-family: tohoma;
    font-size: medium;
 }
 .encabezado_articulo {
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;

 }
 .imagen {
    display: block;
    /*border: 1px solid #ddd;*/
    margin-left: 25px;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 250px;
 }
 /*Selector de Etiqueta html*/
 ul {
    text-align: center;

 }
 li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
 }